/* login.component.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}

button {
    width: 100%;
}

p {
    text-align: center;
    margin-top: 16px;
}
mat-card {
  width: 400px;
  padding: 20px;
}

mat-card-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.center-title {
  text-align: center;
}
