<!-- add-post.component.html -->
 <mat-card>
  <mat-card-title>Add New Post</mat-card-title>
    <mat-card-content>
    <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
      <mat-form-field appearance="fill">
        <mat-label>Title:</mat-label>
        <input matInput type="text" name="title" ngModel required class="form-control">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Content:</mat-label>
        <textarea matInput name="content" ngModel required class="form-control"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Author:</mat-label>
        <input matInput type="text" name="author" ngModel required class="form-control">
      </mat-form-field>
      <div>
        <label>Image:</label>
        <input  type="file" (change)="onFileSelected($event)" class="form-control">
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
