.components-container {
    display: flex;
    justify-content: space-between; /* This will place space between the two components */
    padding: 16px; /* Adds some space around the components */
}

.user-approval, .post-approval, .post-list, .title{
    flex: 1; /* This makes both divs take up equal space */
    padding: 10px; /* Adds some space inside each div */
}
.title{
    text-align: center; /* Centers the text */
    font-size: 1.5em; /* Increases the font size */
    font-weight: bold; /* Makes the text bold */
    margin-bottom: 10px; /* Adds some space below the text */
}
mat-toolbar{
    margin-bottom: 16px; /* Adds some space below the toolbar */
}

mat-card{
    height: 100%; /* Makes the card take up the full height */
}

mat-card-title{
    text-align: center; /* Centers the text */
}

.title-left {
    text-align: left; /* Aligns the text to the left */
}

/* admin.component.css */
.main-title h1 {
  font-size: 2.5em; /* Adjust the size as needed */
  font-weight: bold; /* Optional: Make the text bold */
  padding:  20px;
}
